.toolButton{
    padding: 20px 30px 0;
    margin: 0;
    user-select: none;
    li{
        width: 80px;
        height: 80px;
        line-height: 16px;
        margin-left: 0;
        margin-bottom: 18px;
        list-style: none;
        font-size: 16px;
        color: rgba(255,255,255,.8);
        font-weight: 100;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        &.active, &:hover{
            color: rgba(255,255,255,1);
            background-color: #00a0d6;
        }
        i{
            display: inline-block;
            width: 80px;
            height: 52px;
            background-repeat: no-repeat;
            background-position: center 8px;
            opacity: 0.6
        }
        &.active i, &:hover i{
            opacity: 1;
        }
        &:nth-child(1) i{
            background-image: url('./img/zoom_in.png');
        }
        &:nth-child(2) i{
            background-image: url('./img/zoom_out.png');
        }
        &:nth-child(3) i{
            background-image: url('./img/adapt.png');
        }
        &:nth-child(4) i{
            background-image: url('./img/point_draw.png');
        }
        &:nth-child(5) i{
            background-image: url('./img/rect_draw.png');
        }
        &:nth-child(6) i{
            background-image: url('./img/back.png');
        }

    }
}
